##############################
# Maven
##############################
target/

##############################
# Eclipse
##############################
.project
.classpath
.settings/

##############################
# IntelliJ IDEA
##############################
.idea/
*.iml

##############################
# VS Code
##############################
.vscode/

##############################
# Logs
##############################
*.log

##############################
# OS Files
##############################
.DS_Store
Thumbs.db

##############################
# Spring Boot Secrets
##############################
src/main/resources/application.properties

##############################
# Environment Variables
##############################
.env

##############################
# Temporary Files
##############################
*.tmp
*.bak

# User uploaded files
uploads/